.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  min-height: 100vh;
  overflow: auto;
}

.book-section {
  display: flex;
}

.book-info {
  margin-right: 20px;
}

.average-rating {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--typography-medium);
  margin-bottom: 32px;
  margin-top: 24px;
}

.book-info .book-info .rate-book {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  color: var(--typography-medium);
  margin-bottom: 32px;
}

.book-info .average-rating img,
.book-info .rate-book img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.book-description {
  font-size: 16px;
  font-family: Inter;
  line-height: 24px;
  color: var(--typography-medium);
  text-align: left;
  margin-bottom: 32px;
}

.back-to-books {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  width: 987px;
  height: 24px;
  margin-bottom: 32px;
  color: rgba(0, 0, 0, 0.95);
  text-decoration: none;
  color: rgba(0, 0, 0, 0.95);
  font-size: 16px;
  font-family: Inter;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: black;
  line-height: 24px;
  word-wrap: break-word;
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url("assets/back.svg");
  background-repeat: no-repeat;
  padding-left: 25px;
  margin-top: 32px;
}

.back-to-books:hover .back-to-books-text {
  text-decoration: underline;
}

u {
  margin-top: 5px;
  margin-bottom: 0px;
  text-decoration: none;
}

.book-section-wrapper {
  display: flex;
  flex-direction: column;
}

.book-section {
  display: flex;
}

@media screen and (max-width: 820px) {
  .book-section-wrapper {
    flex-direction: column;
  }

  .container {
    padding: 0 10px;
    max-width: 95%;
    box-sizing: border-box;
    overflow: auto;
  }

  .book-section {
    flex-direction: column;
    align-items: center;
  }

  p {
    margin-bottom: 0px;
  }

  .back-to-books {
    max-width: 100%;
  }
}
