.input-box {
    margin-top: 32px;
}
  
.review-title {
    color: rgba(0, 0, 0, 0.95);
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    word-wrap: break-word;
    margin-bottom: 24px;
}
  
.rate-and-review {
    display: flex;
    flex-direction: column;  
    gap: 24px;
}
  
.rate-book {
    flex: 1;
}
  
.rate-title {
    color: rgba(0, 0, 0, 0.95);
    font-size: 18px;
    font-family: Inter;
    font-weight: 700;
    line-height: 28px;
    word-wrap: break-word;
}
  
.write-review textarea {
    width: 508px;
    height: 208px;
    background: white;
    border-radius: 4px;
    border: 0.5px solid #DDE1E3;
    padding: 16px;
    font-size: 16px;
    resize: none;
    margin-top: 24px;
}
  
.submit-review {
    display: flex;
    justify-content: left; 
    margin-top: 24px;
}
  
.submit-review button {
    display: inline-flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    border: 2px solid #3980B2;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    line-height: 24px;
    color: #3980B2;
}

.submit-review button:hover {
    background-color: #3980B2;
    color: white;
}
  
.review-submitted {
    justify-content: flex-start; 
    align-items: flex-start;
    display: inline-flex;
    padding: 6px;
    gap: 10px;
    border-radius: 4px;
    background: var(--ui-light-blue, #CFEBFF);
    color: var(--typography-dark, rgba(0, 0, 0, 0.95));
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
  
.error-message {
    color: red;
    margin-top: 16px;
}

p {
    margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
    .container {
      padding: 0 10px;
    }
  
    .write-review textarea {
      height: 250px;
      width: 100%;
    }

    .submit-review{
        margin-bottom: 35px;
    }

    .review-submitted{
        margin-bottom: 40px;
    }
  }
